<h1><%= @user.name %></h1>
<p><%= @user.email %></p>

<%= button_to "Enter New Address", new_address_path, method: :get %>

<h3>Addresses</h3>
<% @user.addresses.each do |address| %>
<section id="address-<%= address.id %>">
  <p>Street Address: <%= address.street %></p>
  <p>City: <%= address.city %></p>
  <p>State: <%= address.state %></p>
  <p>Zip Code: <%= address.zip %></p>
  <h5>Nickname: <%= address.nickname %></h5>
  <%= button_to "View", address_path(address), method: :get %>
  <%= button_to "Edit Address", edit_address_path(address), method: :get %>
  <% if !address.shipped_to? %>
    <%= button_to "Delete Address", address_path(address), method: :delete %>
  <% end %>
  </section>
<% end %>
